body{
    background-image: url('assets/123.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: .4em 2em;
}

.btn.btn-success
   {
      margin-top: 10px;
   }
form{
    padding: 0 3em;
}
